[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = {version = "*", extras = ['email'] }
requests = "*"
python-multipart = "*"
python-jose = {version = "*", extras = ['cryptography'] }
passlib = {version = "*", extras = ['bcrypt'] }
sqlalchemy = "*"
sqlalchemy-utils = "*"

[dev-packages]
mypy = "*"
pylint = "*"
black = "*"
pytest = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
